<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div class="col-8">
      <h3>Patient Value</h3>
      <p>How much $ do you make on a typical patient</p>
    </div>
    <div class="col-4"><input type="text" name="blah" /></div>
  </div>
  <div class="row">
    <div class="col-8">
      <h3>How Many Patients Do You See Per Week?</h3>
    </div>
    <div class="col-4"><input type="text" name="blah" /></div>
  </div>
  <div class="row">
    <div class="col-8">
      <h3>How Many Would You LIKE To See Per Week?</h3>
    </div>
    <div class="col-4"><input type="text" name="blah" /></div>
  </div>
  <div class="row">
    <div class="col-8">
      <h3>How many new patients do you gain each month? </h3>
    </div>
    <div class="col-4"><input type="text" name="blah" /></div>
  </div>
</div>
<ngx-charts-area-chart-stacked
  [view]="view"
  [scheme]="colorScheme"
  [results]="multi"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  (select)="onSelect($event)">
</ngx-charts-area-chart-stacked>
